<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label color="primary"><h3><b>Información</b></h3></ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="ion-text-justify">
        Bielapp es una aplicación para que puedas buscar información de la preparación de cócteles, puedes buscar cervezas, sitios cercanos a tí donde distribuyan bebidas, puedes compartir tus fotos 
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label color="primary"><h3><b>Ayuda a Nuestra Comunidad</b></h3></ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="ion-text-justify">
        Puedes añadir sitios a la base de datos que no se encuentren en los registros puedes ubir información acerca de tu negocio como un bar, una discoteca, una licorería, o mini market donde distribuyas bebidas. 
      </ion-text>
    </ion-card-content>
  </ion-card>
  
</ion-content>
