.btn1{
    //margin-bottom  : 40px;
    border         : none;
    outline        : none;
    border-radius  : 50px;
    //padding        : 16px 24px;
    text-transform : uppercase;
    background-image: linear-gradient(to right, #009e4a, #fdc91e, #009e4a);
    //box-shadow      : 0 5px 20px 0 #009e4a70;
}
